{% extends 'frontbase.html.twig' %}


{% block title %} Referans {{ data[0].title}} {% endblock %}
{% block keywords %} {{ data[0].keywords}} {% endblock %}
{% block description %} {{ data[0].description}} {% endblock %}

{% block content %}

    <div class="well well-small" align="center">

       <h1>REFERANSLAR</h1>
   </div>

    <div  class="row-fluid" >
        <div class="span11" align="center">
            <p>
                {{ data[0].referances|raw}}
            </p>
            <div class="row"></div>


        </div>
    </div>


{% endblock %}


